body {
  background-color: #C7C7CC;
  font-family: system-ui;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 375px;
}



h1 {
  font-size: 1.5em;
  font-weight: 550;
  line-height: 175%;
}

.content-list h1 {
  text-transform: uppercase;
  font-size: 1.17em;
}

h2 {
  font-size: 2.2em;
  font-weight: 550;
  position: absolute;
}

h3 {
  color: #8E8E93;
  font-weight: bold;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: left;
}

h4 {
  font-size: 110%;
  color: #979797;
  font-weight: normal;
  line-height: 1.75em;
}

p {
  font-size: 1.25em;
}

nav {
  box-sizing: border-box;
  background-color: #F8F8F8;
  display: inline-box;
  float: left;
  height: 88px;
  width: 375px;
}

.status {
  display:inline-block;
}

.arrow-left {
  height: 50px;
  width: 375px;
}


.fa {
  padding: 0px 0 40px 0;
  vertical-align: middle;
}


.back {
  color: #007AFF;
/*  display: inline-block; /*added*/
  line-height: 44px;
  padding-left: 20px;
}


.headline {
  /*display: inline-block; /*added*/
  vertical-align: middle;
}

.headline {
   display: inline;
}

.back p {
  display: inline-block;
  margin-bottom: 40px;
  padding-left: 3px;
  padding-right: 25px;
  width: 5%;
}

.back h1 {
  box-sizing: border-box;
  display: inline-block;
  color: #000000;
  font-size: 1.25em;
  text-align: center;
  padding-bottom: 10%;
  width: 65%;
}

/*this is where the middle of the bus routes are */


.busroute {
  box-sizing: border-box;
  background-color: #F8F8F8;
  float: left;
  margin-top: .5px;
  margin-bottom: .5px;
  padding:10px 20px 10px 20px;
  width: 100%;
}

.busroute-list {
  box-sizing: border-box;
  color: #5856D6;
  float: left;
  font-weight: 550;
  padding-top: 20px;
  text-align: left;
  width: 10%;
}

.content-list {
  box-sizing: border-box;
  float: left;
  height: 100%;
  margin-left: 20px;
  width: 65%;
}


.duration-list {
  box-sizing: border-box;
  float: center;
  padding: 10px 0 5px 275px;
  position: inherit;
  width: 20%;
}

.busroute:hover {
  background-color: #B4B2B4;
}

#box {
  box-sizing: border-box;
  background: #EFEFF4;
  border-radius: 12px;
  color: #8E8E93;
  height: 58px;
  width: 58px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}


#box h2 {
  text-align: inherit;
  padding: 10px;
  padding-left: 10px;
  padding-top: 7.5px;
}

#box h3 {
  text-align: center;
  letter-spacing: .3em;
  padding-left: 5px;
  padding-top: 34px;
}
